.Title {
    margin: auto;
    margin-top: 60px;
    width: 50%;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    box-shadow: 0 2px 1px #ccc;
    padding: 10px 40px;
    box-sizing: border-box;
}

.Title h1{
    font-size: 60px;
    border-style: dashed;
    border-width: 2px;
}

@media (max-width:1250px) {
    .Title{
        width: 90%
    }
}